body {
    font-family: 'Open Sans', sans-serif;
}
.section {
    background-color: white;
    text-align: center;
}

.section table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left:25%;
    margin-right:25%
}

